<% include ./partials/header %>
<div class="ui main text container segment">
    <div class="ui huge header"><%= blog.title %></div>
    <div class="ui top attached">
        <div class="item">
            <img class="ui centered rounded image" src="<%= blog.image %>" height="200" width="400">
            <div class="content">
                <span><%= blog.created.toDateString() %></span>
            </div>
            <div class="description">
                <p><%- blog.body %></p>
            </div>
            <button class="ui yellow button" type=""><a href="/blogs/<%= blog._id%>/edit">Edit</a></button>
            <form id="delete" action="/blogs/<%= blog._id%>?_method=DELETE" method="POST">
                <button class="ui red button">Delete</button>
            </form>
        </div>
    </div>
</div>
<% include ./partials/footer %>
